<nav class="row navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="./images/train.png" width="30" height="30" class="d-inline-block align-top" alt=""> TicketTac
    </a>

    <div class="navbar ">
        <a class="nav-item nav-link" href="">Connexion</a>
        <a class="nav-item nav-link" href="">Mes derniers voyages</a> </div>
</nav>